nav {
    background-color: #1D3354;
    color: white;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    z-index: 3;
}

nav > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: inherit;
    gap: 1rem
}

.site-title{
    padding: 0;
    margin: 1rem;
    font-size: 2rem;
    border: #1D3354 2px solid;
    transition: all 0.25s;
}
 
nav > ul > li > a {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    border: #1D3354 2px solid;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    color:white;
    padding: 0.25rem;
}

nav > ul > li > a:hover{
    border: #e63946 2px solid;
    color: #e63946;
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width : 800px) {
    nav > ul{
        display: none;
    }
}

@media (max-width : 600px) {
    .site-title{
        font-size: 1.5rem;
    }
}