.footer-container{
    width: 100%;
    display: flex;
    background-color: var(--darkBlue);
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.footer-container p {
    color: var(--sandBlue);
}